﻿<div class="jumbotron">
    <h1>Employee Manager API</h1>
    <p class="lead">Use this API to list, create and delete employees from the database.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>List Employees</h2>
        <p>Use the GET method to list employees. The pagesize and page parameters are required.</p>
        <p>URL example: http://localhost:53238/api/Employee/?pageSize=1000&page=1 </p>
    </div>
    <div class="col-md-4">
        <h2>Create Employee</h2>
        <p>Use the POST method to create a new employee. The name, email and department fields are required.</p>
        <p>URL example: http://localhost:53238/api/Employee/ </p>
    </div>
    <div class="col-md-4">
        <h2>Remove Employee</h2>
        <p>Use the DELETE method to remove an employee from the database. The id parameter is required.</p>
        <p>URL example: http://localhost:53238/api/Employee/1/ </p>
    </div>
</div>
